<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>261599976055-c9snjfv17amgtpdlqnt6pa9natmjf5hi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261599976055-c9snjfv17amgtpdlqnt6pa9natmjf5hi</string>
	<key>API_KEY</key>
	<string>AIzaSyB5KzyokB40JQJMlCNM7UBpCuaQRS3IxI4</string>
	<key>GCM_SENDER_ID</key>
	<string>261599976055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.prothom-sadia-ios.ABCD</string>
	<key>PROJECT_ID</key>
	<string>productivitree-35e8c</string>
	<key>STORAGE_BUCKET</key>
	<string>productivitree-35e8c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261599976055:ios:5d93f96a01e6b5c4e80472</string>
</dict>
</plist>